set timeout=5
set default=0

menuentry "CarrotOS Live" {
    linux /boot/vmlinuz root=live:CDLABEL=CARROTOS ro quiet splash carrot.mode=live carrot.secure=1
    initrd /boot/initramfs.img
}

menuentry "CarrotOS Live (Safe Graphics)" {
    linux /boot/vmlinuz root=live:CDLABEL=CARROTOS ro nomodeset quiet carrot.mode=safe carrot.secure=1
    initrd /boot/initramfs.img
}

menuentry "CarrotOS Live (Persistent)" {
    linux /boot/vmlinuz root=live:CDLABEL=CARROTOS ro quiet splash carrot.mode=persistent carrot.secure=1
    initrd /boot/initramfs.img
}
